header {
	display:grid;
	grid-template-rows:100px;
	background-color: #8f2917;
	margin-bottom:30px;
	margin-left:5%;
	margin-right:5%;
}

h1 {
	text-align:center;
	color: red;
	font-family: 'Raleway', sans-serif;
	text-decoration: underline;
}
h2{
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Raleway', sans-serif;
}
h2:hover{
	text-decoration: underline;
}
body {
	background-image: url("blurryface.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

footer {
	display:grid;
	grid-template-rows:50px;
	justify-content:center;
	align-items:center;
	background-color:#3d0b01;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:5%;
	margin-right:5%;
}

/*--------------------------------------------------------------------------*/
.barraNavegacion {
	display:grid;
	grid-template-columns:50% 50%;
	grid-template-rows:50px;
	margin-left:7%;
	margin-right:7%;
	margin-bottom: 5%;
	justify-content:center;
	align-items:center;
	list-style-type:none;
	background-color: black;
	border-radius: 20px;
}
.formatoOpciones{
	font-size:18px;
	text-decoration:none;
	color: red;
	font-family: 'Titillium Web', sans-serif;
}
.formatoOpciones:hover {
	color: black;
	font-weight:bold;
	background-color: red;
	border-radius: 20px;
	font-family: 'Titillium Web', sans-serif;
}
li {
   text-align:center;
}
/*--------------------------------------------------------------------------*/

.cajaPadreGeneral {
	display:grid;
	grid-template-columns:100%;
	grid-template-rows: 400px 400px;
	border:2px solid red;
	background-color:black;
	margin-left:5%;
	margin-right:5%;
}


/*--------------------------------------------------------------------------*/
.cajaPadre1 {
	display:grid;
	grid-template-columns:33% 67%;
	border:2px solid red;
	margin:10px;
}
.cajaPadre2 {
	display:grid;
	grid-template-columns:67% 33%;
	border:2px solid red;
	margin:10px;
}
.cajaPadre12 {
	display:grid;
	grid-template-columns:33% 67%;
	border:2px solid #3bdb76;
	margin:10px;
}
/*--------------------------------------------------------------------------*/
.cajaHijo3312 {
	border:2px solid #3bdb76;
	margin:10px;
	background-color: black;
}
.cajaHijo6712 {
	display:grid;
	justify-content:center;
	align-items:center;
	border:2px solid #3bdb76;
	margin:10px;
	background-color: #48825d;
}
.cajaHijo331 {
	border:2px solid red;
	margin:10px;
	background-color: black;
}
.cajaHijo671 {
	display:grid;
	justify-content:center;
	align-items:center;
	border:2px solid red;
	margin:10px;
	background-color: #7d4137;
}
.cajaHijo332 {
	border:2px solid red;
	margin:10px;
	background-color: black;
}
.cajaHijo672 {
	display:grid;
	justify-content:center;
	align-items:center;
	border:2px solid red;
	margin:10px;
	background-color: #7d4137;
}
/*--------------------------------------------------------------------------*/
a{
	text-align:center;
	font-size:18px;
	font-family:sans-serif;
	text-decoratoin: none;
	color: black;
}
.album{
	text-decoration: underline;
	font-size: 25px;
}
.textFooter {
	text-align:center;
	font-size:18px;
	font-family:sans-serif;
}

/*--------------------------------------------------------------------------*/
.raleway{
	font-family: 'Raleway', sans-serif;
}
.parrafo{
	font-family: 'Raleway', sans-serif;
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	font-size: 17px;
}
/*--------------------------------------------------------------------------*/
.imagen{
	width: 351px;
	height: 350px;
}
.video {
	text-align:center;
	margin:30px;
}